.headerNav { /* stylelint-disable */
  // margin-right: 15px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  margin: 0 3.3rem;
}

.headerLink {
  position: relative;
  display: flex;
  flex: 1 100%;
  height: 4rem;
  border-radius: 1px 0 0 0;
  background-color: rgba(14,22,34,0.05);
  text-decoration: none !important;
  font-family: Lato;
  font-size: 1.3rem;
  color: #333740 !important;
  line-height: 1.6rem;
}

.linkActive {
  background-color: #FFFFFF;
  font-weight: bold;
  text-decoration: none !important;
  > div {
    &:first-child {
      position: absolute;
      height: 0.3rem;
      top: 0rem;
      width: 100%;
      background-color: #1C5DE7;
    }
  }

}

.linkText {
  display: flex;
  margin: auto;
  text-transform: capitalize;
}

.notifPoint {
	height: 0.4rem;
  width: 0.4rem;
  margin: auto 0.7rem;
  border-radius: 0.5rem;
  background-color: #27B70F;
}

.noPaddingLeft {
  padding-left: 0;
}
