/**
 * styles.scss
 *
 * Home container styles
 */

 .containerFluid { /* stylelint-disable */
   padding: 18px 30px;

  p {
    display: block;
    margin: 0;
    padding-bottom: 14px;
    line-height: 18px;
    text-align: left;
  }
}
