.containerWysiwyg {
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
}

.wysLoader {
  display: flex;
  justify-content: space-around;
  width: 100%;
  > div {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}