.removeIcon {
  width: 30px;
  background: #F3F4F4;
  height: 28px;
  cursor: pointer;
  text-align: center;
  float: right;
  line-height: 28px !important;

  &:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin: auto;
    background-image: url('../../assets/images/icon-cross.svg');
  }
}

.removeIconDragged {
  width: 30px;
  background: #AED4FB;
  height: 28px;
  cursor: pointer;
  text-align: center;
  float: right;

  &:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin: auto;
    margin-top: -3px;
    background-image: url('../../assets/images/icon-cross-blue.svg');
  }
}

.removeIconLonger {
  width: 30px;
  background: #F3F4F4;
  height: 82px;
  line-height: 82px;
  cursor: pointer;
  text-align: center;
  float: right;

  &:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin: auto;
    background-image: url('../../assets/images/icon-cross.svg');
  }
}

.removeIconLongerDragged {
  width: 30px;
  background: #AED4FB;
  height: 82px;
  line-height: 82px;
  cursor: pointer;
  text-align: center;
  float: right;

  &:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin: auto;
    background-image: url('../../assets/images/icon-cross-blue.svg');
  }
}