.ctmBlock{
  margin-bottom: 35px;
  background: #ffffff;
  padding: 22px 28px 18px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
  -webkit-font-smoothing: antialiased;
}

.ctmBlockTitle {
  padding-top: 0px;
  line-height: 18px;
  > span {
    font-weight: 600;
    color: #333740;
    font-size: 18px;
  }
  > p {
    color: #787E8F;
    font-size: 13px;
  }
}