.button {
  height: 3rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  margin-right: 1.8rem;
}

.buttonLg {
  width: 15rem;
}

.buttonMd {
  width: 10rem;
}

.primary {
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  color: white;
}

.secondary {
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
}
