
.pluginLeftMenuLink { /* stylelint-disable */
  color: #2D3138;
}

.link {
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 3.4rem;
  border-left: 0.4rem solid transparent;
  color: #2C3138 !important;
  text-decoration: none !important;
  line-height: 1.6rem;
  > i {
    margin-right: 1rem;
  }
}

.linkActive {
  border-radius: 0.2rem;
  background-color: #E9EAEB;;
  font-weight: bold;
  text-decoration: none;
  color: #2D3138 !important;
}
