.wrapperStyle {
  margin-top: -13px;
  > div:not(:first-child) {
    padding-top: 10px;
  }
  > div:last-child {
    margin-bottom: 2px;
  }
}

.spanStyled {
  vertical-align: text-top;
  cursor: pointer;

  &:after {
    margin-left: 2px;
    content: '\f077';
    font-family: FontAwesome;
    font-size: 10px;
  }
}
