/* Import */
@import '../../styles/variables/variables';

.adminPage { /* stylelint-disable */
  display: flex;
}

.adminPageRightWrapper {
  width: calc(100% - #{$left-menu-width});
}

.adminPageSeparator {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    border-left: 1px solid #F3F4F4;
  }
}
