{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
      "react",
      "babel",
      "redux-saga"
  ],
  "env": {
      "commonjs": true,
      "es6": true,
      "node": true,
      "mocha": true
  },
  "parserOptions": {
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "jsx": true
      },
      "sourceType": "module"
  },
  "globals": {
    "strapi": true,
    "window": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
