**/node_modules/**
**/build/**
**/dist/**
**/OLD/**
testApp/**
examples/**
cypress/**
packages/generators/plugin/files/admin/src/**
packages/core/helper-plugin/**
packages/plugins/users-permissions/admin/OLD/**
.eslintrc.js
.eslintrc.front.js
.eslintrc.back.js
