############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Logs and databases
############################

.tmp
*.log
*.sql
!.github/workflows/db/**/*.sql
*.sqlite

############################
# Misc.
############################

*#
.idea
nbproject
.eslintcache

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
build
node_modules
.node_history
package-lock.json
**/package-lock.json
!docs/package-lock.json
*.heapsnapshot

############################
# Tests
############################

test-apps
coverage

############################
# Builds
############################

packages/generators/app/files/public/
schema.graphql
dist
.nx
.tsbuildinfo
.eslintcache

############################
# Example app
############################

.dev
# *.cache

############################
# Visual Studio Code
############################

.vscode/
!.vscode/settings.json
front-workspace.code-workspace
.yarnrc

############################
# Package managers
############################

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
pnpm-debug.log
npm-debug.log

############################
# Playwright
############################
playwright-report
test-results
!tests/e2e/data/*.tar
tests/e2e/.env
!tests/cli/data/*.tar.gz
tests/cli/.env

############################
# Strapi
############################
examples/**/types/generated
.nx/cache

# Ignore yarn.lock inside templates
templates/yarn.lock
