{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-prettier/recommended",
    "stylelint-config-prettier"
  ],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "selector-type-no-unknown": [
      null,
      {
        "ignore": ["custom-elements"]
      }
    ]
  }
}
