.editForm { /* stylelint-disable */
  margin-right: 15px; // Same as bootstrap row

}

.formContainer {
  margin: 0 3.3rem;
  padding: 0.5rem 2.8rem 5.8rem 2.8rem;
  border-radius: 0.2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;

}
