.editForm {
  background: #ffffff;
  padding: 45px 30px 22px 30px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}

.separator {
  box-sizing: border-box;
  height: 2px;
  width: 1008px;
  margin-top: 1.3rem;
  margin-bottom: 2.1rem;
  border: 1px solid #F6F6F6;
}
