.list { /* stylelint-disable */
  border-radius: 0.2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 4.1rem 1rem 0 2.8rem;
}

.titleContainer {
  color: #333740;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  align-items: flex-start;
}

.ulContainer {
  > ul {
    margin-top: 1.5rem;
    padding: 0;
    list-style: none;
    > li:last-child {
      border-bottom: none;
    }
  }
}

.listPadded {
  padding-top: 3px !important;
}
