.pluginLeftMenu { /* stylelint-disable */
  min-height: calc(100vh - 6rem); // TODO should be a global variable
  border-radius: 1px;
  background-color: #F2F3F4;
  box-shadow: inset 0 0 0.2rem 0 rgba(0,0,0,0.05);
  padding-top: .4rem;
}

.pluginLeftMenuSection { /* stylelint-disable */
  margin-top: 3.3rem;

  > p {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-left: 1.5rem;
    line-height: 1.3rem;
    color: #919BAE;
    letter-spacing: 0.1rem;
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  > ul {
    margin: 1rem 0 0 0rem;
    padding: 1rem 0 0 3rem;
    font-size: 1.3rem;
    color: #2D3138;
    > li {
      margin-right: .5rem;
      margin-bottom: 1.8rem;
      line-height: 1.8rem;
      overflow-wrap: break-word;
      > a {
        text-decoration: none;
        color: #1C8FE5;
      }
    }
  }
}


.pluginLeftMenuLink { /* stylelint-disable */
  color: #2D3138;

  li:not(:first-child) {
    margin-top: 0.2rem;
  }
}
