.button {
  height: 26px;
  min-width: 89px !important;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px !important;
  font-size: 13px;
  font-weight: 500 !important;
  cursor: pointer;
}

.cardDescription {
  height: 54px;
  margin-top: 27px;
  margin-bottom: 9px;
  font-size: 13px;
  font-weight: 400;

  > span:last-child {
    color: #1C5DE7;
  }
  -webkit-font-smoothing: antialiased;
}

.cardFooter {
  cursor: initial;
  display: flex;
  justify-content: space-between;
  height: 54px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: #FAFAFB;

  &>div:first-of-type {
    margin-top: 3px;
  }
}

.cardPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 2rem;
  > div:first-child {
    > i {
      margin-right: 10px;
    }
    color: #5A9E06;
    font-size: 12px;
    font-style: italic;
    line-height: 2.1rem;
  }

  > div:last-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8rem;
  }
}

.cardScreenshot {
  height: 78px;
  border-radius: 2px;
  background-size: cover;
}

.cardTitle {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  > div:first-child {
    margin-right: 14px;
  }

  > div:last-child {
    height: 36px;
    line-height: 36px;
  }
}

.frame {
  width: 70px;
  height: 36px;
  margin: auto 0;
  text-align: center;
  background: #FAFAFB;
  border: 1px solid #F3F3F7;
  border-radius: 3px;
  white-space: nowrap;
  > img {
    max-height: 36px;
    vertical-align: middle;
  }
}

.iconContainer {
  height: 36px;
  width: 70px;
  margin-right: 14px;
  background: #FAFAFB;
  border: 1px solid #F3F3F7;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
}


.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.pluginCard {

}

.primary {
  font-weight: 500;
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  -webkit-font-smoothing: antialiased;
  color: white;
  &:active {
   box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
 }
}

.ratings {
  // display: flex;
  // padding-top: 1px;
  // TODO uncomment when ratings
  // > div:last-child {
  //   padding-top: 4px;
  //   font-size: 12px;
  //   font-style: italic;
  // }
}

.secondary {
  border: 1px solid #DFE0E1;
  font-weight: 600;
}

.starsContainer {
  display: flex;
  margin-right: 10px;
  > div {
    > i {
      margin-right: 2px;
    }
  }
  > div:first-child {
    color: #EEA348;
  }
  > div:last-child {
    color: #B3B5B9;
  }
}

.wrapper {
  min-height: 320px;
  margin-bottom: 4rem;
  padding: 1.2rem 1.5rem;
  padding-bottom: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px #E3E9F3;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
