.emptyContentTypeView { /* stylelint-disable */
  position: relative;
  height: 22.1rem;
  width: 100%;
  padding-top: 5.8rem;
  background-image: url('../../assets/images/background_empty.svg');
  background-color: #FFFFFF;
  background-repeat: repeat;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  box-shadow: 2px 2px 4px #E3E9F3;
  > img {
    position: absolute;
    top: 0;
    left: 26px;
  }
}

.title {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
}

.description {
  color: #333740;
}

.buttonContainer {
  margin-top: 4.6rem;
  > button {
    // padding-left: 1rem;
    padding-right: 1.5rem;
    font-size: 1.3rem;
    > i {
      margin-right: 1rem !important;
    }
  }
}
