.editFormRelations { /* stylelint-disable */
  h3{
    height: 41px;
    margin: 0 -25px 14px;
    padding: 0 25px;
    background: #F3F3F3;
    line-height: 41px;
    border-radius: 2px 2px 0 0;
    letter-spacing: 0.03rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
