
.pluginLeftMenuLink { /* stylelint-disable */
  color: #2D3138;
}

li:not(:first-child) {
  margin-top: 0.2rem;
}

.link {
  display: flex;
  margin-left: 2rem;
  margin-right: .5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 3.4rem;
  color: #2C3138 !important;
  text-decoration: none !important;
  line-height: 1.6rem;
  > div {
    width: 1.3rem;
    margin-right: 1rem;
    > i {
      color: #666B74;
      // color: blue;
    }
  }
}

.linkActive {
  height: 3.4rem;
  border-radius: 0.2rem;
  background-color: #E9EAEB;;
  font-weight: bold;
  text-decoration: none;
  color: #2D3138 !important;
  > div {

    > i {
      color: #2D3138;
    }
  }
}
