.stmpluginLeftMenuLink {
  /* stylelint-disable */
  color: #2d3138;
}

li:not(:first-child) {
  margin-top: 0.2rem;
}

.stmlink {
  display: flex;
  margin-left: 2rem;
  margin-right: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 3.4rem;
  color: #2c3138 !important;
  text-decoration: none !important;
  line-height: 1.6rem;
  > div {
    width: 1.3rem;
    margin-right: 1rem;
    > i {
      color: #666b74;
      // color: blue;
    }
  }
}

.stmlinkActive {
  height: 3.4rem;
  border-radius: 0.2rem;
  background-color: #e9eaeb;
  font-weight: bold;
  text-decoration: none;
  color: #2d3138 !important;
  > div {
    > i {
      color: #2d3138;
    }
  }
}
