.app { /* stylelint-disable */
  min-height: calc(100vh - 6rem); // TODO should be variable
  // background: rgba(14,22,34,0.02);
  background: #fff !important;
}
.baseline {
  // display: none;
  z-index: 100001;
  opacity: .2;
  position: absolute;
  top:0; left:0;
  width: 100%;

  min-height: calc(100vh - 6rem); // TODO should be variable
  background: url('../../assets/images/baseline-18.png');
  pointer-events: none;
}

.noPadding {
  padding: 0!important;
}

.toggleBaselineButton {
  position: relative;
  top: -3rem;
  left: 0rem;
  z-index: 10000;
}
