.stmlistSubContainer {
  margin: 0 3.3rem;
  padding: 1rem 2.8rem 0rem 2.8rem;
  border-radius: 0.2rem;
  background-color: #ffffff;

  box-shadow: 0 0.2rem 0.4rem 0 #e3e9f3;
}

.stmpaddedTopList {
  margin-top: 2.7rem !important;
}

.stmflex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.stmtitleContainer {
  color: #333740;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  align-items: flex-start;
}

button {
  &:focus {
    outline: 0 !important;
  }
}

.stmulContainer {
  padding-top: 1.3rem;
  margin: 0 3.3rem;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem 0 #e3e9f3;
  > ul {
    list-style: none;
    padding: 0;
    > li {
      min-height: 5.2rem;
      line-height: 5.2rem;
      font-size: 1.3rem;
      position: relative;
      &:first-child .stmlanguage {
        margin-top: 0.3rem;
      }
      .stmlanguage {
        margin-top: 0.1rem;
      }
      &:last-child .stmborderBottom {
        border-bottom: none;
      }
      &:hover {
        .stmhoveredLanguage {
          position: absolute;
          top: -0.2rem;
          min-height: 5.4rem;
          width: 100%;
          background-color: rgba(14, 22, 34, 0.03);
        }
      }
    }
  }
}

.stmli:first-child .stmlanguage {
  margin-top: 11rem;
}
.stmliSpacer {
  height: 0.2rem !important;
}

.stmborderBottom {
  border-bottom: 1px solid rgba(14, 22, 34, 0.04);
}

.stmflexLi {
  display: flex;
  justify-content: space-between;
  margin: 0 4.1rem 0 2.8rem;
  position: relative;
  align-items: center;
}

.stmflexLiLanguage {
  display: flex;
  // justify-content: space-between;
  margin: 0 4.1rem 0 2.8rem;
  position: relative;
  align-items: center;
  > div:last-child {
    justify-content: flex-end;
  }
}

.stmflexLeft {
  display: flex;
  align-items: flex-start;
}

.stmmarged {
  margin-left: 1rem;
}

.stmflexed,
.stmlabel {
  display: flex;
}

.stmlabel {
  align-items: center;
  line-height: 1;
  width: 15rem;
  height: 5.2rem;
  margin-left: 5rem;
  color: #333740;
  font-weight: 600;
}

.stmcapitalized {
  text-transform: capitalize;
}

.stmcentered {
  width: 25rem;
  text-align: right;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > button {
    padding: 0;
  }
}

.stmitalicText {
  font-family: Lato;
  color: #49515a;
  font-style: italic;
  height: 100%;
  height: 5.2rem;
  line-height: 5.2rem;
  padding-right: 1rem;
}

.stmnormal {
  font-family: Lato;
  color: #1c5de7;
  cursor: pointer;
}

.stmprimary {
  height: 3rem;
  font-family: Lato !important;
  margin-left: 1.9rem !important;
  cursor: pointer;
  font-family: Lato;
  &:focus {
    outline: 0;
  }
  border: none !important;
  width: 15rem;
  line-height: 1.6rem;
  font-weight: 600;
  border-radius: 3px;
  background: linear-gradient(315deg, #0097f6 0%, #005eea 100%);
  -webkit-font-smoothing: antialiased;
  color: white !important;
  &:active,
  &:focus,
  &:hover {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: linear-gradient(315deg, #0097f6 0%, #005eea 100%);
    background-color: transparent;
    border: none;
  }
}

.stmsecondary {
  font-family: Lato;
  color: #f64d0a;
  border: 0.1rem solid #f64d0a;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: #f64d0a;
    background-color: white;
    border: 0.1rem solid #f64d0a;
  }
  height: 3rem;
  color: #f64d0a;
  border: 0.1rem solid #f64d0a;
  position: relative;
  border-radius: 3px;
}

.stmbordered {
  margin-left: 3rem;
  margin-right: 3rem;
  border-bottom: 1px solid #f6f6f6;
}

.stmdbHost {
  width: 22rem;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stmnoBorder {
  border: none !important;
}

.stmflexStart {
  justify-content: flex-start !important;
}

.stmitalicText {
  color: #49515a;
  font-style: italic;
}

.stmnormal {
  color: #1c5de7;
  padding-top: 0rem;
}

.stmlighter {
  color: #333740;
}

.stmmodalPosition {
  margin-top: 22rem;
  margin-left: 25%;
  width: 50% !important;
  max-width: none;
  position: relative;
}

.stmmodalBody {
  padding: 0;
  padding-top: 2.1rem;
}

.stmmodalFooter {
  margin-top: 1.5rem;
  margin-bottom: 1.1rem;
  > input {
    margin-top: 1.3rem !important;
  }
  > button {
    &:focus {
      outline: 0;
    }
  }
}

.stmmHeader {
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  > h4 {
    font-family: Lato;
    font-weight: bold !important;
    font-size: 1.8rem !important;
  }
  > button {
    z-index: 999;
    margin-top: -2rem;
    margin-right: -1.5rem;
    color: #c3c5c8;
    opacity: 1;
    font-size: 1.8rem;
    font-weight: 100;
    &:hover,
    &:focus {
      color: #c3c5c8;
      opacity: 1;
      outline: 0;
    }
    > span {
      display: none;
    }
    &:before {
      -webkit-font-smoothing: antialiased;
      content: '\F00d';
      font-family: 'FontAwesome';
      font-weight: 400;
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
}

.stmsquared {
  margin-top: 1.6rem;
  height: 2rem;
  width: 3.5rem;
  padding-top: 0.2rem;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;
}

.stmorange {
  background-color: #ffb500;
}

.stmleftSpaced {
  margin-left: 1rem;
}

.stmbuttonContainer {
  > button {
    margin-right: 0;
  }
}

.stmtrashContainer {
  // width: 5rem;
  margin-left: 6rem;
  cursor: pointer;
}

.stmspacer {
  height: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid rgba(14, 22, 34, 0.04);
}

.stmspacerSmall {
  margin-bottom: 0rem;
}

.stmico {
  color: #0e1622;
  > i {
    font-size: 1.1rem;
  }
}

.stmdatabaseFont {
  font-size: 1.3rem;
  &:hover {
    height: 5.2rem;
    background-color: rgba(14, 22, 34, 0.03);
  }
}

.stmflagContainer {
  width: 33%;
  margin-left: 1rem;
  height: 5.2rem;
  line-height: 5.2rem;

  > div:first-of-type {
    background-image: url('../../assets/images/unknow_flag.png');
    background-size: 1.3333em auto;
    background-position: left center;
  }
}

.stmbottomSpacer {
  height: 1.2rem;
  background-color: #ffffff;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.stmsaving {
  margin-top: -1.2rem;
}

.stmsaving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 5rem;
}

.stmsaving span:nth-child(2) {
  animation-delay: 0.2s;
}

.stmsaving span:nth-child(3) {
  animation-delay: 0.4s;
}
