.listContainer { /* stylelint-disable */
  // margin-right: 15px;
}

.listSubContainer {
  margin: 0 3.3rem;
  padding: 1rem 2.8rem 0rem 2.8rem;
  border-radius: 0.2rem;
  background-color: #FFFFFF;

  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;
}

.paddedTopList {
  margin-top: 2.8rem!important;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.titleContainer {
  color: #333740;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  align-items: flex-start;
}

.ulContainer {
  padding-top: 1.3rem;
  margin: 0 3.3rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;
  > ul {
    list-style: none;
    padding: 0;
    > li {
      height: 5.2rem;
      line-height: 5.2rem;
      font-size: 1.3rem;
      position: relative;
      &:last-child .borderBottom {
        border-bottom: none;
      }
      &:hover {
        .hoveredLanguage {
          position: absolute;
          top: -.2rem;
          height: 5.4rem;
          width: 100%;
          background-color: rgba(14,22,34,0.03);
        }
      }
    }
  }
}


.liSpacer {
  height: .2rem!important;
}

.borderBottom {
  border-bottom: 1px solid rgba(14,22,34,0.04);

}

.flexLi {
  display: flex;
  justify-content: space-between;
  margin: 0 4.1rem 0 2.8rem;
  position: relative;
  align-items: center;
}

.flexLeft {
  display: flex;
  align-items: flex-start;
}

.marged {
  margin-left: 1rem;
}

.flexed {
  display: flex;
}

.label {
  width: 15rem;
  height: 5.2rem;
  line-height: 5.2rem;
  margin-left: 5rem;
  color: #333740;
  font-weight: 600;

}

.capitalized {
  text-transform: capitalize;
}

.centered {
  width: 25rem;
  text-align: right;
  > button {
    padding: 0;
  }
}

.italicText {
  font-family: Lato;
  color: #49515A;
  font-style: italic;
  height: 100%;
  height: 5.2rem;
  line-height: 5.2rem;
  padding-right: .3rem;
}

.normal {
  font-family: Lato;
  color: #1C5DE7;
  cursor: pointer;
}

.primary {
  height: 3rem;
  font-family: Lato!important;
  margin-left: 1.9rem!important;
  cursor: pointer;
  font-family: Lato;
  &:focus {
    outline: 0;
  }
  border: none!important;
  width: 15rem;
  line-height: 1.6rem;
  font-weight: 600;
  border-radius: 3px;
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  -webkit-font-smoothing: antialiased;
  color: white!important;
}

.secondary {
  font-family: Lato;
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  cursor: pointer;
  &:hover {
    color: #F64D0A;
    background-color: white;
    border: 0.1rem solid #F64D0A;
  }
  height: 3rem;
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  position: relative;
  border-radius: 3px;
}

.bordered {
  margin-left: 3rem;
  margin-right: 3rem;
  border-bottom: 1px solid #F6F6F6;
}

.dbHost {
  width: 22rem;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noBorder {
  border: none!important;
}

.flexStart {
  justify-content: flex-start!important;
}

.italicText {
  color: #49515A;
  font-style: italic;
}

.normal {
  color: #1C5DE7;
  padding-top: 0rem;
}

.lighter {
  color: #333740;
}


.modalPosition {
  margin-top: 22rem ;
  margin-left: 25%;
  width: 50%!important;
  max-width: none;
  position: relative;
}

.modalBody {
  padding: 0;
  padding-top: 2rem;

}

.modalFooter {

  margin-top: 1.1rem;
  margin-bottom: 3.5rem;
  padding-left: 3.1rem !important;
  > input {
    margin-top: 1.3rem!important;
  }
  > button {
    &:focus {
      outline: 0;
    }
  }
}

.padded {
  padding-left: 3.1rem;
  padding-right: 1.5rem;
}

.mHeader {
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  > h4 {
    font-family: Lato;
    font-weight: bold!important;
    font-size: 1.8rem!important;

  }
  > button {
    > span {
      color: #0E1622!important;
    }
  }
}


.squared {
  margin-top: 1.6rem;
  height: 2rem;
  width: 3.5rem;
  padding-top: .2rem;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;

}

.orange {
  background-color: #FFB500;
}

.leftSpaced {
  margin-left: 1rem;
}

.buttonContainer {
  > button {
    margin-right: 0;
  }
}

.trashContainer {
  margin-left: 4rem;
  cursor: pointer;
}

.spacer {
  height: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid rgba(14,22,34,0.04);
}

.spacerSmall {
  margin-bottom: 0rem;
}


.ico {
  color: #0E1622;
  > i {
    font-size: 1.1rem;
  }
}



.databaseFont {
  font-size: 1.3rem;
  &:hover {
    .hovered {
      position: absolute;
      top: 0rem!important;
      height: 5.2rem;
      margin-right: 13rem!important;
      width: 100%;
      background-color: rgba(14,22,34,0.03);
    }
  }
}

.flagContainer {
  margin-left: 1rem;
  margin-right: 10rem;
  height: 5.2rem;
  line-height: 5.2rem;
}

.bottomSpacer {
  height: 1.2rem;
  background-color: #FFFFFF;
}
