.listContainer { /* stylelint-disable */
  // margin-right: 15px;
}

.listSubContainer {
  margin: 0 3.3rem;
  padding: 1rem 2.8rem 0rem 2.8rem;
  border-radius: 0.2rem;
  background-color: #FFFFFF;

  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;
}

.paddedTopList {
  margin-top: 2.7rem!important;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.titleContainer {
  color: #333740;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  align-items: flex-start;
}

button {
  &:focus {

    outline: 0!important;
  }
}

.ulContainer {
  padding-top: 1.3rem;
  margin: 0 3.3rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;
  > ul {
    list-style: none;
    padding: 0;
    > li {
      min-height: 5.2rem;
      line-height: 5.2rem;
      font-size: 1.3rem;
      position: relative;
      &:first-child .language {
        margin-top: .3rem;
      }
      .language {
        margin-top: .1rem;
      }
      &:last-child .borderBottom {
        border-bottom: none;
      }
      &:hover {
        .hoveredLanguage {
          position: absolute;
          top: -.2rem;
          min-height: 5.4rem;
          width: 100%;
          background-color: rgba(14,22,34,0.03);
        }
      }
    }

  }
}

.li:first-child .language {
  margin-top: 11rem;
}
.liSpacer {
  height: .2rem!important;
}

.borderBottom {
  border-bottom: 1px solid rgba(14,22,34,0.04);

}

.flexLi {
  display: flex;
  justify-content: space-between;
  margin: 0 4.1rem 0 2.8rem;
  position: relative;
  align-items: center;
}

.flexLiLanguage {
  display: flex;
  // justify-content: space-between;
  margin: 0 4.1rem 0 2.8rem;
  position: relative;
  align-items: center;
  > div:last-child {
    justify-content: flex-end;
  }
}

.flexLeft {
  display: flex;
  align-items: flex-start;
}

.marged {
  margin-left: 1rem;
}

.flexed,
.label {
  display: flex;
}

.label {
  align-items: center;
  line-height: 1;
  width: 15rem;
  height: 5.2rem;
  margin-left: 5rem;
  color: #333740;
  font-weight: 600;

}

.capitalized {
  text-transform: capitalize;
}

.centered {
  width: 25rem;
  text-align: right;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > button {
    padding: 0;
  }
}

.italicText {
  font-family: Lato;
  color: #49515A;
  font-style: italic;
  height: 100%;
  height: 5.2rem;
  line-height: 5.2rem;
  padding-right: 1rem;
}

.normal {
  font-family: Lato;
  color: #1C5DE7;
  cursor: pointer;
}

.primary {
  height: 3rem;
  font-family: Lato!important;
  margin-left: 1.9rem!important;
  cursor: pointer;
  font-family: Lato;
  &:focus {
    outline: 0;
  }
  border: none!important;
  width: 15rem;
  line-height: 1.6rem;
  font-weight: 600;
  border-radius: 3px;
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  -webkit-font-smoothing: antialiased;
  color: white!important;
  &:active, &:focus, &:hover {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
    background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
    background-color: transparent;
    border: none;
 }
}

.secondary {
  font-family: Lato;
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: #F64D0A;
    background-color: white;
    border: 0.1rem solid #F64D0A;
  }
  height: 3rem;
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  position: relative;
  border-radius: 3px;
}

.bordered {
  margin-left: 3rem;
  margin-right: 3rem;
  border-bottom: 1px solid #F6F6F6;
}

.dbHost {
  width: 22rem;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noBorder {
  border: none!important;
}

.flexStart {
  justify-content: flex-start!important;
}

.italicText {
  color: #49515A;
  font-style: italic;
}

.normal {
  color: #1C5DE7;
  padding-top: 0rem;
}

.lighter {
  color: #333740;
}


.modalPosition {
  margin-top: 22rem ;
  margin-left: 25%;
  width: 50%!important;
  max-width: none;
  position: relative;
}

.modalBody {
  padding: 0;
  padding-top: 2.1rem;

}

.modalFooter {
  margin-top: 1.5rem;
  margin-bottom: 1.1rem;
  > input {
    margin-top: 1.3rem!important;
  }
  > button {
    &:focus {
      outline: 0;
    }
  }
}

.mHeader {
  padding-top: 1.6rem;
  padding-bottom: 1rem;
  > h4 {
    font-family: Lato;
    font-weight: bold!important;
    font-size: 1.8rem!important;

  }
  > button {
    z-index: 999;
    margin-top: -2rem;
    margin-right: -1.5rem;
    color: #C3C5C8;
    opacity: 1;
    font-size: 1.8rem;
    font-weight: 100;
    &:hover, &:focus {
      color: #C3C5C8;
      opacity: 1;
      outline: 0;
    }
    > span {
      display: none;
    }
    &:before {
      -webkit-font-smoothing: antialiased;
      content: '\F00d';
      font-family: 'FontAwesome';
      font-weight: 400;
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
}


.squared {
  margin-top: 1.6rem;
  height: 2rem;
  width: 3.5rem;
  padding-top: .2rem;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;

}

.orange {
  background-color: #FFB500;
}

.leftSpaced {
  margin-left: 1rem;
}

.buttonContainer {
  > button {
    margin-right: 0;
  }
}

.trashContainer {
  // width: 5rem;
  margin-left: 6rem;
  cursor: pointer;
}

.spacer {
  height: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid rgba(14,22,34,0.04);
}

.spacerSmall {
  margin-bottom: 0rem;
}


.ico {
  color: #0E1622;
  > i {
    font-size: 1.1rem;
  }
}



.databaseFont {
  font-size: 1.3rem;
  &:hover {
    height: 5.2rem;
    background-color: rgba(14,22,34,0.03);
  }
}

.flagContainer {
  width: 33%;
  margin-left: 1rem;
  height: 5.2rem;
  line-height: 5.2rem;

  > div:first-of-type {
    background-image: url('assets/images/unknow_flag.png');
    background-size: 1.3333em auto;
    background-position: left center;
  }
}


.bottomSpacer {
  height: 1.2rem;
  background-color: #FFFFFF;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.saving {
  margin-top: -1.2rem;
}


.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 5rem;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}
