.selectOption { /* stylelint-disable */
  margin: 1rem;
  background-image: url('assets/images/unknow_flag.png');
  background-size: 1.3333em auto;
  background-position: left center;
}

.flagContainer {
  // margin-left: 1rem;
}

.optionLabel {
  margin-left: 1rem;
  text-transform: capitalize;
}
