.listComponent { /* stylelint-disable */
  margin: 0 3.3rem;
  padding: 2rem 2.8rem 5.8rem 2.8rem;
  border-radius: 0.2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;
}

.listContainer {
  margin-right: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 2.5rem;
}

.titleContainer {
  color: #333740;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.listNoBorder {
  > tbody {
    tr {
      height: 5.4rem;
      font-size: 1.3rem;
      line-height: 1.6rem;
      font-family: Lato;
      &:first-of-type {
        > td, th {
          border-top: none !important;
        }
      }
    }
  }
}

.primary {
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  color: white;
  width: 15rem;
}

.secondary {
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  margin-left: 1.9rem!important;
}

.bordered {
  margin-left: 3rem;
  margin-right: 3rem;
  border: 1px solid #F6F6F6;
}

.noBorder {
  border: none!important;
}

.flexStart {
  justify-content: flex-start!important;
}

.italicText {
  color: #49515A;
  font-style: italic;
}

.normal {
  color: #1C5DE7;
  padding-top: 0rem; 
}

.lighter {
  color: #333740;
}

.label {
  color: #333740;
  font-weight: 600;
  text-transform: capitalize;
}
