.draggableAttr {
  position: relative;
  height: 30px;
  width: 100%;
  margin-bottom: 6px;
  padding-left: 10px;
  justify-content: space-between;
  background: #FAFAFB;
  line-height: 28px;
  color: #333740;
  font-size: 13px;
  border: 1px solid #E3E9F3;
  border-radius: 2px;
  &:hover{
    cursor: move;
  }
  > img {
    max-width: 8px;
    margin-right: 10px;
    margin-top: -1px;
  }
}

.draggableAttrOvered {
  border: 1px solid #AED4FB!important;
}

.editingAttr {
  background: #E6F0FB!important;
  border: 1px solid #AED4FB!important;
  color: #007EFF;
  font-weight: 500;
}

.info {
  position: absolute;
  top: 0;
  right: 40px;
  color: #B4B6BA;
  font-style: italic;
}

.infoLabel {
  position: absolute;
  top: 0;
  right: 40px;
  color: #858B9A;
  font-weight: 400;
}

.infoLabelHover{
  color: #007EFF; 
}

.dragged {
  position: relative;
  height: 30px !important;
  width: 100%;
  margin-bottom: 6px;
  box-shadow: 0!important;
  padding-left: 10px;
  justify-content: space-between;
  background: #E6F0FB !important;
  line-height: 30px;
  color: #333740;
  border: 1px solid darken(#AED4FB, 20%)!important;
  border-radius: 2px;
  cursor: move !important;

  > i {
    margin-right: 10px;
    font-size: 10px;
    color: #B3B5B9;
  }

  > span:last-child {
    background:#AED4FB;
  }
}
