.customSpan {
  margin-left: -15px;
}

.customLabel {
  cursor: pointer;
  > input {
    display: none;
  }
}

.customLabelHeader {
  &:before {
    content: '';
    position: absolute;
    left:15px; top: 5px;
    width: 14px; height: 14px;
    border: 1px solid rgba(16,22,34,0.15);
    background-color: #FDFDFD;
    border-radius: 3px;
  }
}

.customLabelRow {
  &:before {
    content: '';
    position: absolute;
    left:15px; top: 19px;
    width: 14px; height: 14px;
    border: 1px solid rgba(16,22,34,0.15);
    background-color: #FDFDFD;
    border-radius: 3px;
  }
}

.customLabelCheckedHeader {
  &:after {
    content: '\f00c';
    position: absolute;
    top: 5px; left: 17px;
    font-size: 10px;
    font-family: 'FontAwesome';
    font-weight: 100;
    color: #1C5DE7;
    transition: all .2s;

  }
}

.customLabelCheckedRow {
  &:after {
    content: '\f00c';
    position: absolute;
    top: 0px; left: 17px;
    font-size: 10px;
    font-family: 'FontAwesome';
    font-weight: 100;
    color: #1C5DE7;
    transition: all .2s;

  }
}

.customLabelUnCheckedHeader {
  &:after {
    content: '\f068';
    position: absolute;
    top: 5px; left: 18px;
    font-size: 10px;
    font-family: 'FontAwesome';
    font-weight: 100;
    color: #1C5DE7;
  }
}