.relationNaturePicker { /* stylelint-disable */
  display: flex;
  width: 29.5rem;
  position: relative;
  padding-top: 4.5rem;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-around;

  img:hover{
    cursor: pointer;
  }
}

.relationNaturePicker::before {
  content: '';
  position: absolute;
  top: 9.2rem;
  height: 2px;
  width: 100%;
  background-color: #1C5DE7;
  z-index: 0;
}

.infoContainer {
  width: 95%;
  position: absolute;
  word-wrap: break-word;
  top: 11.8rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 1.3rem;
  > span:nth-child(2) {
    color: #1C5DE7;
  }
}
