.table { /* stylelint-disable */
  border-radius: 3px;
  border-collapse: initial;
  overflow: hidden;
  box-shadow: 0 2px 4px #E3E9F3;
  table-layout: fixed;

  tr, th, td{
    border: none;
    padding: 0;
  }

  th{
    padding: 0 25px;
  }

  td{
    padding: 0 25px;
  }
}
