/* Gives the scrollbar rounded edges via overflow: hidden */
.listWrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 3px;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 30em;
  overflow-y: auto;
  padding: 0 1em;
}
