.tableRow { /* stylelint-disable */
  height: 54px;
  background: #ffffff;

  &:hover {
    cursor: pointer;
    background: #F7F8F8;
  }

  td{
    height: 53px;
    line-height: 53px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #333740;
    border-collapse: collapse;
    border-top: 1px solid #F1F1F2 !important;
  }
  > td:first-child {
    width: 50px;    
  }
}

.truncate {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.truncated {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  text-align: right;

  i {
    margin-left: 15px;
    font-size: 1.1rem;
    color: #0E1622;

    &:first-of-type{
      margin-left: 0px;
    }
  }
}
