.editIcon {
  width: 30px;
  background: #AED4FB;
  height: 28px;
  cursor: pointer;
  text-align: center;
  float: right;

  &:after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin: auto;
    margin-top: -3px;
    background-image: url('../../assets/images/icon-edit-blue.svg');
  }
}

.editIconLonger {
  width: 30px;
  background:#AED4FB;
  height: 82px;
  line-height: 82px;
  cursor: pointer;
  text-align: center;
  float: right;

  &:after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin: auto;
    background-image: url('../../assets/images/icon-edit-blue.svg');
  }
}