.popUpWarning { /* stylelint-disable */
  width: 37.5rem!important;
}

.header {
  border: none!important;
  position: relative;
  > h4 {
    width: 100%;
    text-align: center;
    font-family: Lato;
    font-weight: bold!important;
    font-size: 1.8rem!important;

  }
  > button {
    margin-top: -2rem;
    margin-right: 0!important;
    z-index: 999;
    color: #C3C5C8;
    opacity: 1;
    font-size: 1.8rem;
    font-weight: 100;
    &:hover, &:focus {
      color: #C3C5C8;
      opacity: 1;
      outline: 0;
    }
    > span {
      display: none;
    }
    &:before {
      -webkit-font-smoothing: antialiased;
      content: '\F00d';
      font-family: 'FontAwesome';
      font-weight: 400;
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
}

.modalPosition {
  left: 18.2rem;
  > div {
    border:none;
    border-radius: 2px;
    width: 37.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.modalDangerBodyContainer {
  padding-top: .1rem;
  > img {
    width: 2.5rem;
    margin-bottom: 1.5rem;
  }
  > p {
    line-height: 1.8rem;
  }

  color: #F64D0A;
  text-align: center;
  font-family: Lato;
  font-size: 1.3rem;
}

.buttonContainer {
  width: 100%;
  padding: 0 .5rem;
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;

  > button {
    height: 3rem;
    width: 15rem;
    position: relative;
    border-radius: 0.3rem;
    text-transform: capitalize;
    cursor: pointer;
    font-family: Lato;
    &:focus {
      outline: 0;
    }
    > i {
      margin-right: 1.3rem;
    }
    &:hover {
     &::after {
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       border-radius: 0.3rem;
       content: '';
       opacity: 0.1;
       background: #FFFFFF;
     }
   }
  }
}

.primary {
  font-weight: 500;
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  -webkit-font-smoothing: antialiased;
  color: white !important;
  border: none;
  &:active {
   box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
 }
}

.secondary {
  // height: 32px !important;
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  &:active {
   border: 0.15rem solid #F64D0A;
 }
}

.bordered {
  margin-top: -.4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border: 1px solid #F6F6F6;
}
