.containerFluid {
  padding: 18px 30px;
  > div:first-child {
    max-height: 33px;
  }
}

.container {
  padding-top: 18px;
}

.main_wrapper{
  background: #ffffff;
  padding: 22px 28px 0px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}

.ctmForm {
  padding-top: 2.6rem;
}

.separator {
  margin-top: 19px;
  border-top: 1px solid #F6F6F6;
}

.draggedWrapper {
  display: flex;
  > div:first-child {
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
  }
}

.listDisplayWrapper {
  padding-top: 21px;
}

.draggedDescription {
  color: #333740;
  font-size: 13px;
  font-weight: 500;

  > p {
    margin-bottom: 28px;
    color: #787E8F;
  }
}

.editWrapper {
  min-height: 246px;
  padding: 24px 30px;
  background-color: #FAFAFB;
  border-radius: 2px; 
}