/**
 * styles.css
 *
 * App container styles
 */

@import "../../styles/variables/variables";

.container {
  display: block;
}

.baseline {
  display: none;
  z-index: 100001;
  opacity: .2;
  position: absolute;
  top:0; left:0;
  width: 100%;
  height: 500%;
  min-height: 100%;
  //background: url('../../assets/images/baseline-18.png');
  background: url('../../assets/images/baseline-20.png');
  pointer-events: none;
}
