.versions-select {
    display: table;
    width: 100%;
    height: 50px;
    padding: 0px 12px;
}

.versions-select > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.versions-select select {
    width: 100%;
}
