.wysiwygBottomControlsWrapper {
  display: flex;
  height: 30px;
  width: 100%;
  padding: 0 15px;
  justify-content: space-between;
  background-color: #FAFAFB;
  line-height: 30px;
  font-size: 13px;
  font-family: Lato;
  border-top: 1px dashed #e3e4e4;
  
  > div:first-child {
    > span:last-child {
      font-size: 12px;
    }
  }
}


.fullScreenWrapper {
  cursor: pointer;
  &:after {
    content: '\f065';
    margin-left: 8px;
    font-family: FontAwesome;
    font-size: 12px;
  }
}

.underline {
  color: #1C5DE7;
  text-decoration: underline;
  cursor: pointer;
}

.dropLabel {
  > input {
    display: none;
  }
}
