.container {
  // margin-top: 1.7rem;
  padding-top: .2rem;
}

.inputToggle { /* stylelint-disable */
  margin-top: .4rem;
  > button {
    // display and box model
    width: 5.3rem;
    height: 3.4rem;
    padding: 0;
    line-height: 3.2rem;
    border: 1px solid #E3E9F3;
    // margin-bottom: 1rem;
    // color
    color: #333740;
    background-color: white;
    // text
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.07rem;
    font-family: Lato;
    &:first-of-type {
      border-right: none;
    }
    &:nth-of-type(2) {
      border-left: none;
    }
    &:hover {
      z-index: 0 !important;
    }
  }
}

.gradientOff {
  background-image: linear-gradient( to bottom right, #F65A1D, #F68E0E );
  color: white !important;
}

.gradientOn {
  background-image: linear-gradient( to bottom right, #005EEA, #0097F6);
  color: white !important;
}

.toggleLabel {
  padding-top: .1rem;
  margin-bottom: .7rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
