.attributeCardContainer { /* stylelint-disable */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-top: .6rem;
  margin-bottom: .8rem;
  padding: 0 1rem 0 1rem;
  border: 1px solid #E3E9F3;
  border-radius: 0.25rem;
  line-height: 4rem;
  background: #FFFFFF;
  box-shadow: 1px 1px 1px rgba(104, 118,145, 0.05);

  &:hover, &:active {
    background: #F7F7F7;

    > div:after{
      color: #0097F6;
    }
  }
}

.attributeCard {
  font-size: 1.3rem;

  &:hover{
    background: none;
  }

  &:after{
    position: absolute;
    top: 7px; right: 26px;
    content: '\f05d';
    font-size: 1.4rem;
    font-family: 'FontAwesome';
    color: #E3E9F3;
    -webkit-font-smoothing: antialiased;
  }

  > img{
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: -3px;
    margin-right: 10px;
  }

  > span {
    color: #9EA7B8;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }
}

.attributeType {
  color: #323740 !important;
  margin-right: 1.2rem;
  font-style: normal !important;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  text-transform: capitalize;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
