.attributeCardContainer { /* stylelint-disable */
  display: flex;
  height: 3.9rem;
  margin-top: .6rem;
  margin-bottom: .9rem;
  padding: 0 1rem 0 1rem;
  justify-content: space-between;

  line-height: 3.9rem;
  border: 1px solid #E3E9F3;
  border-radius: 0.25rem;
  background: #FFFFFF;
  cursor: pointer;
  &:hover, &:active {
    background: #F7F7F7;
    box-shadow: 1px 1px 1px #68768E;
    .checkContainer {
      color: #0097F6;
      border: 2px solid #0097F6;
    }
  }
}

.attributeCard {
  font-size: 1.3rem;

  > img {
    margin-top: -.3rem;
    margin-right: 1rem;
  }
  > span {
    color: #9EA7B8;
    font-size: 1.2rem;
    font-style: italic;
  }
  &:hover {
    background: #F7F7F7
  }
}

.attributeType {
  color: #323740!important;
  margin-right: 1.2rem;
  font-style: normal!important;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}

.checkContainer {
  height: 1.2rem;
  width: 1.2rem;
  margin-top: .4rem;
  align-self: center;
  position: relative;
  border-radius: 50%;
  border: 2px solid #E3E9F3;
  color: #E3E9F3;
  font-weight: bold;
  > i {
    font-size: .8rem;
    position: absolute;
    top: -.1rem;
  }
}
