// Import
@import "../../styles/variables/variables";

.leftMenu { /* stylelint-ignore */
  background: $left-menu-bg;
  height: 100vh;
  width: $left-menu-width;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
