.buttonWrapper {
  width: 100%;
  text-align: center;
  margin: 4em 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em 2em;
  margin: 0;
  border: 0;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  border: 2px solid #41ADDD;
  color: #41ADDD;
}

.button:active {
  background: #41ADDD;
  color: #FFF;
}
