/* Import */
@import '../../styles/variables/variables';

.notification {
  position: relative;
  display: flex;
  width: 45rem;
  align-items: stretch;
  background: #5fc2a3;
  margin-bottom: 1.4rem;
  transition: box-shadow 0.2s ease;
  border-radius: 0.1rem;
  box-shadow: 0 2px 6px $gray-light;
  color: $white;
}

.notificationWarning {
  background: $brand-warning;
}

.notificationError {
  background: $brand-danger;
}

.notificationInfo {
  background: $brand-info;
}

.notification:hover {
  box-shadow: 0 1px 4px $gray-light;
}

.notificationIcon {
  position: relative;
  display: block;
  float: left;
  width: 18%;
  text-align: center;
  font-size: 2.4rem;
}

.notificationIcon:before {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

.notificationContent {
  display: block;
  float: left;
  margin: 0;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  width: 70%;
}

.notificationTitle {
  font-weight: bold;
}

.notificationClose {
  position: relative;
  display: block;
  float: left;
  cursor: pointer;
  width: 12%;
  opacity: 0.6;
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 1;
  }

  &:before {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 0.5rem);
    font-size: 3rem;
  }
}