.containerFluid { /* stylelint-disable */
  padding: 18px 30px;

  .modal-content{
    padding: 0;
  }
}

.row{
  padding-bottom: 36px;
  padding-left: 5px;
}

.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
