.containerFluid { /* stylelint-disable */
  position: relative;
  padding: 18px 30px;
  .modal-content{
    padding: 0;
  }
}

.row{
  padding-bottom: 36px;
}

.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.wrapper{
  position: absolute;
  top: 100px;
  left: 30px;
  width: calc(100% - 60px);
}

.listPageDropdownWrapper {
  display: flex;
  justify-content: flex-end;
  font-family: 'Lato', sans-serif;
  margin-top: -2px;
  -webkit-font-smoothing: antialiased;
  
  > div {
    height: 30px;

    > button {
      padding: 0 10px;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      &:focus {
        outline: 0;
      }
    }

    > div {
      min-width: 230px;
      top: 28px !important; left: 53px !important;
      padding-bottom: 5px !important;
      border-top-right-radius: 0;
      border: 1px solid #E3E9F3;
      box-shadow: 0px 2px 4px rgba(227, 233, 243, .5);

      > button {
        &:active, :focus {
          background-color: #f7f7f9 !important;
          color: #333740;
          font-weight: 500; 
        }
        
        &:hover{
          cursor: pointer;
        }

        &:not(:first-child) {
          padding: 0;
        }

        &:first-of-type{
          margin-top: 2px;
        }

        &:first-child {
          margin-bottom: 2px;
          font-weight: 600;
          font-size: 1.3rem;
  
          &:hover {
            background-color: #ffffff !important;
          }
          > div {
            > span:last-child {
              color: #007EFF;
              font-weight: 400;
              cursor: pointer;
            }
          }
        }

        label{
          width: 100%;
          outline: none;
        }
      }
    }
  }
}

.listPageDropdownWrapperOpen {
  > div {
    > button {
      background: #E6F0FB;
      border: 1px solid #AED4FB !important;
      border-radius: 2px;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 2px !important;

      &:before {
        content: '\f0db';
        font-family: FontAwesome;
        color: #007EFF;
      }

      &:after {
        content: '\f0d7';
        display: inline-block;
        margin-top: -1px;
        margin-left: 10px;
        font-family: FontAwesome;
        color: #007EFF;
        transform: rotateX(180deg);
        transition: transform .3s ease-out;
      }

      &:hover, :active, :focus {
        background: #E6F0FB;
        border: 1px solid #AED4FB;
      }

    }
    > div {
      border-top-color: #AED4FB !important;
      border-top-right-radius: 0;
    }
  }
}

.listPageDropdownWrapperClose {
  > div {
    > button {
      background: #ffffff !important;
      border: 1px solid #E3E9F3;
      border-radius: 2px !important;

      &:before {
        content: '\f0db';
        font-family: FontAwesome;
        color: #323740;
      }
      &:after {
        content: '\f0d7';
        display: inline-block;
        margin-top: -1px;
        margin-left: 10px;
        font-family: FontAwesome;
        color: #323740;
        transition: transform .3s ease-out;
      }
      &:hover, :focus, :active  {
        background: #ffffff !important;
        border: 1px solid #E3E9F3;
      }
    }
  }
}