.fileIconContainer {
  font-size: 20px;
  color: #BDBFC2;
}

.image {
  color: #8AA066;
}

.pdf {
  color: #E26D6D;
}

.video {
  color: #77C69E;
}

.zip {
  color: #715A31;
}

.code {
  color: #515A6D;
}
