.controller {
  padding: 0 28px;
  background: #ffffff;
  opacity: none;
}

.controllerHeader {
  margin-bottom: 1.5rem;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;
}
