.stmbutton {
  height: 3rem;
  position: relative;
  border-radius: 0.3rem;
  text-transform: capitalize;
  margin-right: 1.8rem;
  cursor: pointer;
  font-family: Lato;
  &:focus {
    outline: 0;
  }
  > i {
    margin-right: 1.3rem;
  }
  &:hover {
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 0.3rem;
      content: '';
      opacity: 0.1;
      background: #ffffff;
    }
  }
}

.stmbuttonLg {
  width: 15rem;
}

.stmbuttonMd {
  width: 10rem;
}

.stmprimary {
  font-weight: 500;
  background: linear-gradient(315deg, #0097f6 0%, #005eea 100%);
  -webkit-font-smoothing: antialiased;
  color: white;
  &:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

.stmsecondary {
  color: #f64d0a;
  border: 0.1rem solid #f64d0a;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  &:active {
    border: 0.15rem solid #f64d0a;
  }
}

.stmsecondaryAddType {
  height: 2.6rem;
  color: #1c5de7;
  line-height: 1.6rem;
  border: 0.1rem solid #1c5de7;
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.stmsaving {
  height: 3rem;
  display: flex;
  justify-content: center;
}

.stmloader {
  height: 3rem;
  padding: 0 0 0 1.2rem;
  line-height: 3.2rem;
  border-radius: 0.3rem;
  letter-spacing: 1rem;
  font-family: Lato;
  cursor: not-allowed;
  position: relative;
  opacity: 0.65;
  width: 15rem;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}

.stmsaving p {
  margin-bottom: 0;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  &::before {
    content: '\F111';
    font-family: 'FontAwesome';
  }
}

.stmsaving p:nth-child(2) {
  animation-delay: 0.2s;
}

.stmsaving p:nth-child(3) {
  animation-delay: 0.4s;
}
