.button {
  height: 3rem;
  position: relative;
  border-radius: 0.3rem;
  text-transform: capitalize;
  margin-right: 1.8rem;
  cursor: pointer;
  font-family: Lato;
  &:focus {
    outline: 0;
  }
  > i {
    margin-right: 1.3rem;
  }
  &:hover {
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 0.3rem;
      content: '';
      opacity: 0.1;
      background: #FFFFFF;
    }
  }
}

.buttonLg {
  width: 15rem;
}

.buttonMd {
  width: 10rem;
}

.primary {
  font-weight: 500;
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  -webkit-font-smoothing: antialiased;
  color: white;
  &:active {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
  }
}

.secondary {
  color: #F64D0A;
  border: 0.1rem solid #F64D0A;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  &:active {
    border: 0.15rem solid #F64D0A;
  }
}

.secondaryAddType {
  height: 2.6rem;
  color: #1C5DE7;
  line-height: 1.6rem;
  border: 0.1rem solid #1C5DE7;
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.saving {
  height: 3rem;
  display: flex;
  justify-content: center;
}

.loader {
  height: 3rem;
  padding: 0 0 0 1.2rem;
  line-height: 3.2rem;
  border-radius: 0.3rem;
  letter-spacing: 1rem;
  font-family: Lato;
  cursor: not-allowed;
  position: relative;
  opacity: .65;
  width: 15rem;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}

.saving p {
  margin-bottom: 0;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  &::before {
    content: '\F111';
    font-family: 'FontAwesome';
  }
}

.saving p:nth-child(2) {
  animation-delay: .2s;
}

.saving p:nth-child(3) {
  animation-delay: .4s;
}
