/* Import */
@import '../../styles/variables/variables';

.notificationsContainer { /* stylelint-disable */
  position: fixed;
  top: 72px;
  left: 240px;
  right: 0;
  z-index: 1000;
  list-style: none;
  width: 300px;
  margin: 0 auto;
  overflow-y: hidden;
}
