// App variables

// - colors
$black: #000000;
$white: #ffffff;

$strapi-gray-light: #eff3f6;
$strapi-gray: #535f76;

$strapi-blue-darker: #18202e;
$strapi-blue-dark: #151c2e;
$strapi-blue: #0097f7;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $strapi-blue-darker;
$left-menu-link-hover: #1c2431;
$left-menu-link-color: #919bae;
$left-menu-title-color: #5b626f;

// -- header
$header-height: 6rem;

// -- content
$content-background: #fafafb;
$content-background-alpha: rgba(14, 22, 34, 0.02);

// Import bootstrap variables
@import 'variables.bootstrap';
