.editFormSection { /* stylelint-disable */
  background: #FFFFFF;
  > span {
      color: #787E8F;
      font-family: Lato;
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.3rem;
      text-transform: uppercase;
  }
}
