.authPage {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 17rem 0;
  background: #FAFAFB;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 22.1rem;
  width: 685px;
  text-align: center;
  background-image: url('../../assets/images/background_empty.svg');
  background-position-x: center;
  font-size: 1.4rem;
  font-family: Lato;

}
.errorsContainer {
  margin-top: -21px;
  margin-bottom: 18px;
  color: #ff203c;
}
.headerContainer {
  > span {
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
  }
  > img {
    margin-top: 1px;
    height: 40px;
  }

}
.headerDescription {
  width: 41.6rem;
  text-align: center;
  margin: auto;
  padding: 13px 30px 0 30px;
  line-height: 18px;
  color: #333740;
}

.formContainer {
  min-height: 20rem;
  width: 41.6rem;
  margin: 1.4rem auto;
  margin-bottom: 0;
  padding: 3.9rem 1.5rem 1.5rem 1.5rem;
  border-radius: 2px;
  border-top: 2px solid #1C5DE7;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 #E3E9F3;
}

.loginButton {
  margin-top: -6px;
  padding-right: 0;
  text-align: right;

  > button {
    margin-right: 1.6rem;
  }
}

.buttonContainer {
  padding-top: 1rem;
}

.linkContainer {
  padding-top: 1.8rem;
  > a {
    color: #262931;
    font-size: 13px;
    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: 0;
    }
  }
}


.logoContainer {
  position: absolute;
  left: 30px; bottom: 30px;

  > img {
    height: 34px;
  }
}
