.contentHeader { /* stylelint-disable */
  position: relative;
  margin: 2.4rem 4rem 3.3rem 4rem;
  font-family: Lato;
}

.title {
  color: #333740;
  font-family: Lato;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 600;
}

.subTitle {
  margin-top: 0rem;
  color: #787E8F;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
