.wrapper {
  width: 372px;
  height: 159px;
  border-radius: 2px;
  background-color: #fff;
}

.content {
  padding-top: 3rem;
  // color: #F64D0A;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  > img {
    width: 2.5rem;
    margin-bottom: 1.5rem;
  }

  > div {
    padding-top: 9px;
    line-height: 18px;
    > span:first-child {
      color: #333740;
      font-size: 16px;
      font-weight: 600;
    }

    > span {
      color: #787E8F;
      font-size: 13px;
    }
  }

}
