// Import
@import "../../styles/variables/variables";

.leftMenuHeader { /* stylelint-ignore */
  height: $header-height;
  background: linear-gradient(100deg, #1C5DE7, #1C91E7);
}

.leftMenuHeaderLink {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

// Horizontally and vertically centers any size image.
.leftMenuHeaderLogo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

// SVG's width must be specified separately to allow .leftMenuHeaderLogo
// styles to work for any size PNG, in case user supplies PNGs instead of SVG.
.leftMenuHeaderLogo.SVG {
  width: 108px;
}
