.controlsContainer {
  display: flex;
  background-color: #F3F4F4;

  select {
    min-height: 31px !important;
    min-width: 161px !important;
    font-weight: 600;
    outline: none;

    &:focus, &:active{
      border: 1px solid #E3E9F3;
    }
  }
}

.editorWrapper {
  min-height: 320px;
  margin-top: .9rem;
  border: 1px solid #F3F4F4;
  border-radius: 0.25rem;
  line-height: 18px!important;
  font-size: 13px;
  box-shadow: 0px 1px 1px rgba(104, 118, 142, 0.05);
  background-color: #fff;
  position: relative;
}

.editor {
  min-height: 303px;
  max-height: 555px;
  padding: 20px 20px 0 20px;
  font-size: 16px;
  background-color: #fff;
  line-height: 18px !important;
  cursor: text;
  overflow: auto;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 18px !important;
  }
  h1 {
    margin-top: 13px !important;
    margin-bottom: 22px;
  }
  > div {
    > div {
      > div {
        margin-bottom: 32px;
      }
    }
  }
  li {
    margin-top: 0;
  }
  ul, ol {
    margin-bottom: 18px;
  }
}

.editorError {
  border-color: #ff203c !important;
}

.editorInput {
  height: 0;
  width: 0;
}

.editorBlockquote {
  border-left: 5px solid #eee;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.editorCodeBlock {
  margin-bottom: 0!important;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Lato', sans-serif;
}


.fullscreenOverlay {
  position: fixed;
  z-index: 1040;
  top: calc(6rem + 90px);
  left: calc(24rem + 28px);
  right: 28px;
  bottom: 32px;
  display: flex;
  background-color: transparent;
  z-index: 99999;
  > div {
    min-width: 50%;
  }
  > div:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > div:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.editorFullScreen {
  max-height: calc(100% - 70px) !important;
  margin-bottom: 0;
  overflow: auto;
}
