li.listItem {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  
  &:hover {
    background-color: #f7f8f8;
    .title {
      color: #0e7de7;
    }
  }
  .txtWrapper,
  .thumbWrapper {
    display: inline-block;
    vertical-align: middle;
  }
  .thumbWrapper {
    width: 55px;
    height: 38px;
    background-color: #d8d8d8;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(#0E7DE7, .8);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 0;
    }
    .play {
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background-color: #0e7de7;
      border: 1px solid white;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 50%;
      margin-left: -10px;
      text-align: center;
      z-index: 2;
      &::before {
        content: '\f04b';
        font-family: 'FontAwesome';
        font-size: 9px;
        color: white;
        display: inline-block;
        vertical-align: top;
        height: 100%;
      }
    }
  }
  &.finished {
    .title {
      color: #919bae;
    }
    .thumbWrapper {
      .overlay {
        background-color: transparent;
      }
      img {
        opacity: 0.6;
      }
      .play {
        background-color: #5a9e06;
        border-color: #5a9e06;
        &::before {
          content: '\f00c';
          font-size: 11px;
        }
      }
    }
  }

  .txtWrapper {
    padding: 0 15px;
    p {
      font-size: 14px;
      font-family: Lato-SemiBold;
    }
    .time {
      font-size: 11px;
      color: #919bae;
      font-family: Lato-Bold;
    }
  }
}

.hiddenPlayerWrapper {
  display: none;
}

.videoModal {
  margin-right: auto !important;
  margin-left: auto !important;
  .videoModalHeader {
    border-bottom: 0;
    padding-bottom: 0;
    > h5 {
      font-family: Lato;
      font-weight: bold!important;
      font-size: 1.8rem!important;
    }
    > button {
      margin-top: 0;
      margin-right: 0;
    }
  }
  .videoPlayer {
    > button {
      top: 50%;
      margin-top: -0.75em;
      left: 50%;
      margin-left: -1.5em;
    }
  }
}
