/* Import */
@import '../../styles/variables/variables';

.pluginHeaderTitle { /* stylelint-disable */
  color: #282A31;
}

.pluginHeaderTitleName {
  font-size: 2.4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
}

.pluginHeaderTitleDescription {
  font-size: 1.3rem;
  color: $gray-light;
  margin: 0;
}