.inputNumber { /* stylelint-disable */
  // margin-bottom: .3rem;
  font-size: 1.3rem;
  font-family: Lato;
  > label {
    text-transform: capitalize;
  }
  > small {
    margin-top: .5rem;
    display: block;
    color: #ABAFBB;
  }
  > input {
    margin-top: 4px;
    margin-bottom: 1.1rem;
    border-radius: 0.25rem;
    height: 3.4rem;
    line-height: 1.6rem;
    font-family: Lato!important;
  }
}

.inputText { /* stylelint-disable */

  font-family: Lato!important;
  font-size: 1.3rem;
  > label {
    text-transform: capitalize;
  }
  > small {
    margin-top: .5rem;
    display: block;
    color: #ABAFBB;
  }
  > input {
    margin-top: 4px;
    margin-bottom: 1.1rem;
    height: 3.4rem;
    border-radius: 0.25rem;
    line-height: 1.6rem;
    font-family: Lato!important;
  }
}

.insideInput {
  position: absolute;
  top: 3.5rem;
  right: 2.7rem;
  color: #9EA7B8;
}

.insideInput:hover {
  color: black!important;
}
