.inputNumber { /* stylelint-disable */
  margin-top: 1.5rem;
  font-family: Lato;
  > label {
    text-transform: capitalize;
  }
  > small {
    margin-top: .5rem;
    display: block;
    color: #ABAFBB;
  }
  > input {
    margin-top: 2px;
    margin-bottom: 1.4rem;
    font-family: Lato!important;
  }
}

.inputText { /* stylelint-disable */
  font-family: Lato!important;
  margin-top: 1.5rem;
  > label {
    text-transform: capitalize;
  }
  > small {
    margin-top: .5rem;
    display: block;
    color: #ABAFBB;
  }
  > input {
    margin-top: 2px;
    margin-bottom: 1.4rem;
    font-family: Lato!important;
  }
}

.insideInput {
  position: absolute;
  top: 4.7rem;
  right: 2.7rem;
  color: #9EA7B8;
}

.insideInput:hover {
  color: black!important;
}
