.subBordered {
  margin-bottom: 18px;
  border-bottom: 1px solid #F7F8F8;
}

.subWrapper {
  position: relative;
  line-height: 18px;
  text-decoration: none;

  > span {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333740;
    letter-spacing: 0;
    transition: color .2s ease;
  }

  p {
    text-decoration: none;
    display: block;
    max-width: calc(100% - 150px);
    margin-top: 18px;
    color: #333740;
    font-size: 14px;
    transition: color .2s ease;
  }
}


.underlinedTitle {
  border-bottom: 3px solid #F0B41E;
}

.link{
  &:hover, &:focus, &:active{
    text-decoration: none;
  }

  &:hover{
    > span, p {
      color: lighten(#333740, 20%);
    }
  }
}
