.subBordered {
  margin-bottom: 18px;
  border-bottom: 1px solid #F7F8F8;
}

.subWrapper {
  position: relative;
  line-height: 18px;
  > span {
    font-family: Lato-Bold;
    font-size: 20px;
    color: #333740;
    letter-spacing: 0;
  }

  p {
    display: block;
    max-width: 550px;
    margin-top: 18px;
    color: #333740;
    font-size: 14px;
  }
}


.underlinedTitle {
  border-bottom: 3px solid #F0B41E;
}
