// Import
@import "../../styles/variables/variables";

.item {
  &:not(:first-child) {
    margin-top: 0;
  }
}

.link {
  padding-top: .9rem;
  padding-bottom: 0.2rem;
  padding-left: 1.6rem;
  min-height: 3.6rem;
  border-left: 0.3rem solid transparent;
  cursor: pointer;
  color: $left-menu-link-color;
  text-decoration: none;
  display: block;

  &:hover {
    color: $white;
    background: $left-menu-link-hover;
    border-left: 0.3rem solid $strapi-blue;
    text-decoration: none;
  }

  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:visited {
    color: $left-menu-link-color;
  }
}

.linkActive {
  color: $white !important;
  border-left: 0.3rem solid $strapi-blue;
}

.linkIcon {
  position: relative;
  margin-right: 1.2rem;
  vertical-align: middle;
  font-size: 1.2rem;
  width: 1.4rem;
  height: 1.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
}

.linkLabel {
  display: inline-block;
  padding-right: 1rem;
}
