// Import
@import '../../styles/variables/variables';

.item {
  position: relative;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 0;
  }

  .plugin {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: calc(100% - 4px);
    display: inline-block;
    width: auto;
    height: 20px;
    transition: right 1s ease-in-out;

    span {
      display: inline-block;
      overflow: hidden;
      width: auto;
      height: 20px;
      padding: 0 14px 0 10px;
      color: #ffffff;
      font-size: 12px;
      line-height: 20px;
      background: #0097f7;
      border-radius: 3px;
      transition: transform 0.3s ease-in-out;
      white-space: pre;

      &:hover {
        transform: translateX(calc(-100% + 9px));
      }
    }
  }
}

.link {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
  padding-left: 1.6rem;
  min-height: 3.6rem;
  border-left: 0.3rem solid transparent;
  cursor: pointer;
  color: $left-menu-link-color;
  text-decoration: none;
  display: block;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: $white;
    background: $left-menu-link-hover;
    border-left: 0.3rem solid $strapi-blue;
    text-decoration: none;
  }

  &:focus {
    color: $white;
    text-decoration: none;
  }

  &:visited {
    color: $left-menu-link-color;
  }
  span {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 2.6rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.linkActive {
  color: $white !important;
  border-left: 0.3rem solid $strapi-blue;
}

.linkIcon {
  position: absolute;
  top: calc(50% - 0.9rem + 0.6rem);
  left: 1.6rem;
  margin-right: 1.2rem;
  font-size: 1.2rem;
  width: 1.4rem;
  height: 1.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
}

.linkLabel {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 2.6rem;
  width: 100%;
}
