.inputCheckboxWithNestedInputs { /* stylelint-disable */
  font-size: 1.3rem;
  font-family: Lato;
  margin-bottom: 1.5rem;
  -webkit-font-smoothing: antialiased;
  > div {
    margin-bottom: 0;
  }
}

.inputTitle {
  margin-bottom: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.checkboxLabel {
  // padding-top: .1rem;
  cursor: inherit;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  > input {
    cursor: pointer;
    margin-right: 1.2rem;
  }
}

.descriptionContainer {
  width: 150%;
  padding-top: .2rem;
  padding-left: 2.5rem;
  line-height: 1.2rem;
  -webkit-font-smoothing: antialiased;
  > small {
    -webkit-font-smoothing: antialiased;
    color: #9EA7B8;
    font-family: Lato;
    font-size: 1.2rem;
  }
}

.nestedInputContainer {
  margin-top: -2.2rem;
  margin-bottom: -19px;
}
