.search{
  position: fixed;
  display: flex;
  top: 0;
  height: 6rem;
  min-width: 44rem;
  padding-right: 30px;
  line-height: 6rem;
  z-index: 999;
  background-color: #FFFFFF;
  color: #B3B5B9;
  border-right: 1px solid #F3F4F4;
  overflow: auto;
  &:before {
    content: '\f002';
    margin-right: 10px;
    font-family: 'FontAwesome';
    font-size: 1.3rem;
    font-weight: bolder;
  }
  input {
    position: relative;
    width: 100%;
    outline: 0;
  }
  > div:first-child {
    display: flex;
    flex: 2;
  }
}


.searchLabel {
  position: relative;
  height: 22px;
  margin: auto;
  margin-left: 30px;
  padding-right: 10px;
  padding-left: 27px;
  background: rgba(0,126,255,0.08);
  border: 1px solid rgba(0,126,255,0.24);
  border-radius: 2px;
  line-height: 22px;
  color: #007EFF;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  > img {
    position: absolute;
    top: 1px;
    margin: auto;
    bottom: 0;
    left: 10px;
    height: 7px;
  }
}

.clearable {
  height: 13px;
  width: 13px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #B3B5B9;
  border-radius: 50%;
  cursor: pointer;
  &:after {
    content: '\f00d';
    margin: auto;
    color: white;
    font-family: FontAwesome;
    font-size: 8px;
  }
}
