<!DOCTYPE html>

<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}</title>
    <link rel="icon" href="{{ base_url }}/img/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ base_url }}/img/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700">
    <link rel="stylesheet" href="{{ base_url }}/css/theme.css">
    <link rel="stylesheet" href="{{ base_url }}/css/theme_extra.css">
    <link rel="stylesheet" href="{{ base_url }}/css/highlight.css">
    <link rel="stylesheet" href="{{ base_url }}/css/github.css">
    <link rel="stylesheet" href="{{ base_url }}/css/strapi.css">
    <script src="{{ base_url }}/js/jquery-2.1.1.min.js"></script>
    <script src="{{ base_url }}/js/modernizr-2.8.3.min.js"></script>
    <script src="{{ base_url }}/js/highlight.pack.js"></script>
    <script src="{{ base_url }}/js/theme.js"></script>
  </head>
  <body class="wy-body-for-nav" role="document">
    {% if current_page and current_page.is_homepage %}
      {% include "landing.html" %}
    {% else %}
      {% include "docs.html" %}
    {% endif %}
    <script src="{{ base_url }}/js/messy.js"></script>
  </body>
</html>
