<div class="wy-grid-for-nav">
  <nav data-toggle="wy-nav-shift" class="wy-nav-side stickynav">
    <a href="{{ homepage_url }}/index.html"><img src="{{ base_url }}/img/logo-light.png" class="logo"></a>
    <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
      <ul class="current">
        {% for nav_item in nav %}
          <li>{% include "toc.html" %}<li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
    <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
      <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
      <a href="{{ homepage_url }}/index.html">{{ site_name }}</a>
    </nav>
    <div class="wy-nav-content">
      <div class="rst-content">
        <div role="main">
          <div class="section">
            {% block content %}
              {{ content }}
            {% endblock %}
          </div>
          <div class="admonition note" id="missing">
            <p class="admonition-title">Is something missing?</p>
            <p>If you notice something we've missed or could be improved on, feel free to help us <a href="{{ repo_url }}/blob/master/website/documentation/">improve the documentation</a>. Once we merge your improvement, the changes will be reflected on the website the next time it is deployed.</p>
          </div>
        </div>
        {% include "footer.html" %}
      </div>
    </div>
  </section>
</div>
