<footer>
  {% if next_page or previous_page %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if next_page %}
        <a href="{{ next_page.url }}index.html" class="btn btn-neutral float-right" title="{{ next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {% endif %}
      {% if previous_page %}
        <a href="{{ previous_page.url }}index.html" class="btn btn-neutral" title="{{ previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {% endif %}
    </div>
  {% endif %}
  <ul class="legal">
    <li><a href="{{ base_url }}/info/governance/index.html">Governance</a></li>
    <li><a href="{{ base_url }}/info/conduct/index.html">Code of Conduct</a></li>
    <li><a href="{{ base_url }}/info/releases/index.html">Releases</a></li>
    <li><a href="{{ base_url }}/info/security/index.html">Security</a></li>
    <li><a href="{{ base_url }}/info/trademarks/index.html">Trademarks</a></li>
    <li><a href="{{ base_url }}/info/licenses/index.html">Licenses</a></li>
    <li><a href="{{ base_url }}/info/support/index.html">Support</a></li>
  </ul>
  <p class="copyright">Copyright &copy; 2015 - 2016 Strapi. All rights reserved.</p>
</footer>
