.selectMany { /* stylelint-disable */
  label{
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 3px;
  }

  label + div{
    margin: 5px 0 26px;

    &:focus{
      outline: none;
    }

    >div{
      box-shadow: none !important;
      border-color: #E3E9F3 !important;

      >span:last-of-type{
        span{
          border-color: #B3B5B9 transparent transparent;
        }
      }
    }
  }
}
