li.header{
  color: #101622 !important;
  font-weight: 600;
  letter-spacing: 0.07rem;
  -webkit-font-smoothing: subpixel-antialiased;
}

li.chapter > a{
  transition: background-color 0.15s ease;
  -webkit-transition: background-color 0.15s ease;
}

li.chapter:hover > a{
  background: #eee !important;
  text-decoration: none !important;
}

.versions-select select{
  height: 36px;
  border: 1px solid #ccc;
}

.book-summary{
  background-color: #f7f7f7 !important;
}
