// Import
@import "../../styles/variables/variables";

.leftMenuLinkContainer { /* stylelint-ignore */
  padding-top: 2.2rem;
}

.title {
  //min-height: 3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-bottom: 1rem;
  color: $left-menu-title-color;
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 0.9rem;
}

.noPluginsInstalled {
  color: $white;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-weight: 300;
}