.leftMenuLink {
  color: #2D3138;
}

li:not(:first-child) {
  margin-top: 0.2rem;
}

.link {
  display: flex;
  margin-left: 2rem;
  margin-right: .5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 3.4rem;
  color: #2C3138 !important;
  text-decoration: none !important;
  line-height: 1.6rem;
  > div:first-child {
    width: 1.3rem;
    margin-right: 1rem;
    font-size: 11px;
    > i {
      color: #666B74;
    }
  }
  > span {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.linkActive {
  height: 3.4rem;
  border-radius: 0.2rem;
  background-color: #E9EAEB;;
  font-weight: bold;
  text-decoration: none;
  color: #2D3138 !important;
  > div {
    > i {
      color: #2D3138 !important
    }
  }
}


.liInnerContainer {
  display: flex;
  margin-left: 2rem;
  margin-right: .5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 3.4rem;
  color: #1C8FE5 !important;
  text-decoration: none !important;
  line-height: 1.6rem;
  cursor: pointer;
  > div {
    width: 1.3rem;
    margin-right: 1rem;
  }
}

.linkSpan {
  display: block;
  width: calc(100% - 95px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.container {
  display: flex;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
