.containerFluid {
  padding: 18px 30px !important;
  > div:first-child {
    margin-bottom: 11px;
  }
}

.inputContainer {
  padding-top: 7px;
  background-color: #fff;
  > div {
    > div {
      margin-bottom: 0!important;
    }
    > div:nth-child(3) {
      display: none;
    }
    > label {
      display: none!important;
    }
  }
}

.wrapper {
  padding-top: .3rem;
}
