// Import
@import '../../styles/variables/variables';

.leftMenuLinkContainer {
  /* stylelint-ignore */
  padding-top: 0.6rem;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  height: calc(
    100vh - (60px + 10.2rem)
  ); // we know we are 10.2 rems up from the bottom footer and 60px down
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title {
  padding-left: 2rem;
  padding-right: 1.6rem;
  padding-top: 1rem;
  margin-bottom: 0.8rem;
  color: $left-menu-title-color;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.noPluginsInstalled {
  color: $white;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-weight: 300;
  min-height: 3.6rem;
  padding-top: 0.9rem;
}
