/* Import */
@import '../../styles/variables/variables';

.adminPage { /* stylelint-disable */
  display: flex;
  overflow-x: hidden;
}

.adminPageRightWrapper {
  width: calc(100% - #{$left-menu-width});
}

.adminPageSeparator {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
