.selectWrapper {
  display: inline-block;

}

.select {

  height: 3.2rem !important;
  min-width: 5.4rem;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 3rem;
  background-position: right -1px center;
  background-repeat: no-repeat;
  background-image: url('./background_input.svg');
  border: 1px solid #E3E9F3;
  border-radius: 0.25rem;
  line-height: 3.2rem;
  font-size: 1.3rem;
  font-family: 'Lato' !important;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.label {
  color: #465373;
  margin-left: 1rem;
}
