.containerFluid {
  padding: 18px 30px;
}

.form {
  padding-top: 2rem;
}

.main_wrapper{
  background: #ffffff;
  padding: 22px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}

.titleContainer {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}
