.settingsRow {
  height: 54px;

  &:hover {
    background-color: #F7F8F8;
  }
  > div {
    display: flex;
    line-height: 53px;
    margin:  0 28px 0 36px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(14,22,34,0.04);
    font-size: 13px;
    color: #333740;
  }
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 0;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame {
  position: relative;
  padding-left: 55px;
  font-weight: 500;
}