.inputSelect { /* stylelint-disable */
  font-size: 1.3rem;
  font-family: Lato;

  > label {
    text-transform: capitalize;
    margin-bottom: .8rem;
  }
  > select {
    font-size: 1.3rem;
    font-family: Lato;
    color: #333740;
    height: 3.5rem!important;
    border-radius: 0rem!important;
  }
}

.requiredClass {
  > label:after {
    color: red;
    font-family: Lato;
    font-weight: bold;
    margin-left: 5px;
    content: "*";
  }
}
