.inputSelect { /* stylelint-disable */
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;

  > label {
    text-transform: capitalize;
    margin-bottom: .8rem;
    font-weight: 500;
  }
  > select {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    color: #333740;
    height: 3.5rem!important;
    border-radius: 0rem!important;
    border: 1px solid #E3E9F3;
    padding-left: 1rem;
  }
}

.requiredClass {
  > label:after {
    color: red;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    content: "*";
  }
}


.input {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  > label {
    margin-bottom: 0;
    font-weight: 500;
    text-transform: capitalize;
  }

  > select {
    margin-top: .9rem;
    padding-top: 0rem;
    padding-left: 1rem;
    height: 3.4rem !important;
    line-height: 3.2rem;
    border: 1px solid #E3E9F3;
    border-radius: 0.25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif !important;
    background-position: right -1px center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/background_input.svg');
  }

}
