.editForm {
  background: #ffffff;
  padding: 45px 30px 22px 30px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}

.separator {
  height: 1px;
  width: 100%;
  margin-bottom: 22px;
  background: #F6F6F6;
  box-sizing: border-box;
}

.subFormWrapper {
  margin-bottom: 14px;
  padding: 5px 30px 0 30px;
  background-color: #FAFAFB;
}
