.supportUsBanner {
  position: relative;
  height: 135px;
  margin-top: 2px;
  margin-bottom: 43px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  line-height: 18px;
  > div {
    padding: 38px 50px 0 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    z-index: 999;
    color: #FFFFFF;
    > div {
      > p {
        max-width: 50rem;
        margin-top: 17px;
        margin-bottom: 125px;
        padding-right: 35px;
        font-size: 13px;
        font-weight: 400;
      }
    }
    > div:last-child {
      margin-right: 260px;
      padding-top: 20px;
    }
  }
  &:before {
    content: '';
    border-radius: 2px;
    background-image: linear-gradient(45deg, #1A67DA 0%, #0097F6 100%) !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:after {
    opacity: 0.8;
    content: '';
    border-radius: 2px;
    background-image: url('../../assets/images/banner_t-shirt.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
