.table { /* stylelint-disable */
  padding: 2rem 3.2rem 3.2rem 1.8rem;
  // background: red;
  background: #FFFFFF;
  font-family: Lato;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.titleContainer {
  color: #333740;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
}
