// Import
@import "../../styles/variables/variables";

.notFound { /* stylelint-ignore */
  height: 100vh;
  background: $strapi-blue-darker;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFoundTitle {
  color: $white;
  font-size: 20rem;
  margin-bottom: 2rem;
  text-shadow: 0 1rem 4rem rgba(255, 255, 255, 0.8);
  letter-spacing: 2rem;
}

.notFoundDescription {
  color: $white;
  margin-bottom: 2rem;
}