.containerFluid { /* stylelint-disable */
  padding: 18px 30px;
}

.main_wrapper{
  background: #ffffff;
  padding: 22px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}

.sub_wrapper{
  background: #ffffff;
  padding: 0 20px 1px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}
