.editForm { /* stylelint-disable */

}

.formContainer {
  margin: 0 3.3rem;
  padding: 2rem 1.2rem 0rem 1.2rem;
  border-radius: 0.2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 #E3E9F3;

  > div > hr {
    margin-top: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-top: 1px solid #F6F6F6;
  }
}

.buttonContainer {
  position: absolute;
  top: 2.8rem;
  right: 0rem;
  padding-right: 1.6rem;
}

.sectionContainer {
  margin-bottom: 1.9rem;
}
