.tableHeader {
  background: #F3F3F3;
  height: 41px;
  overflow: hidden;

  th{
    height: 41px;
    border: none !important;
    letter-spacing: 0.03rem;
    font-size: 1.3rem;
    vertical-align: middle !important;
    > span {
      cursor: pointer;
    }
  }
}

.iconAsc{
  margin-left: 5px;

  &:before{
    vertical-align: sub;
  }
}

.iconDesc{
  margin-left: 5px;
  transform: translateY(-3px) rotateZ(180deg);
}
