.localeToggle {
  min-width: 90px;

  > div {
    height: 6rem;
    width: 90px;
    line-height: 5.8rem;
    z-index: 999;
    > button {
      width: 100%;
      padding-right: 30px;
      background: transparent;
      border: none;
      border-radius: 0;
      color: #333740;
      font-weight: 500;
      text-align: right;
      cursor: pointer;
      transition: background .2s ease-out;

      &:hover, &:focus, &:active {
        color: #333740;
        background-color: #FAFAFB !important;
      }

      > i {
        margin-left: 10px;
        transition: transform .3s ease-out;

        &[alt="true"] {
          transform: rotateX(180deg);
        }
      }
    }
  }
  -webkit-font-smoothing: antialiased;
}

.localeDropdownContent {
  span {
    color: #333740;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5;
    text-transform: uppercase;
    vertical-align: baseline;
  }

  img {
    max-height: 13px;
    margin-left: 9px;
    border-radius: 1px;
    vertical-align: middle;
  }

  -webkit-font-smoothing: antialiased;
}

.localeDropdownMenu {
  left: auto !important;
  right: -5px !important;
  min-width: 90px!important;
  max-height: 162px !important;
  overflow: auto !important;
  margin: 0 !important;
  padding: 0;
  line-height: 1.8rem;
  border: none!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  overflow: hidden;
  box-shadow: 0 1px 4px 0px rgba(40, 42, 49, 0.05);

  &:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -1px;
    width: calc(100% + 1px);
    height: 3px;
    box-shadow: 0 1px 2px 0 rgba(40, 42, 49, 0.16);
  }

  > button {
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    color: #F75B1D;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5;
    &:hover, &:focus, &:active {
      background-color: #FAFAFB!important;
      border-radius: 0px;
      cursor: pointer;
    }
  }

  > button:first-child {
    // height: 44px;
    line-height: 50px;
    margin-bottom: 4px;
    &:hover, &:active {
      color: #333740;
    }
  }

  > button:not(:first-child) {
    height: 36px;
    line-height: 36px;
    > i {
      margin-left: 10px
    }
  }
}

.localeDropdownMenuNotLogged{
  background: transparent !important;
  box-shadow: none !important;
  border: 1px solid #e3e9f3 !important;
  border-top: 0px !important;

  button {
    padding-left: 17px;

    &:hover {
      background-color: #F7F8F8 !important;
    }
  }

  &:before{
    box-shadow: none !important;
  }
}

.localeToggleItem {
  img {
    max-height: 13.37px;
    margin-left: 9px;
  }
  &:active {
    color: black;
  }
  &:hover {
    background-color: #FAFAFB !important;
  }
}

.localeToggleItemActive {
  color: #333740 !important;
}
