.listheaderWrapper {
  height: 30px;
  background-color: #F3F3F4;
  color: #333740;
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
}

// .listHeader {
//   display: flex;
//   > div:first-child {
//     min-width: 84px;
//     text-align: center;
//   }
//   > div:nth-child(2) {
//     min-width: 80px;
//   }
//   > div:nth-child(3) {
//     min-width: 148px;
//   }
//   > div:nth-child(4) {
//     min-width: 221px;
//   }
//   > div:nth-child(5) {
//     min-width: 184px;
//     > span {
//       &:after {
//         content: '\f0d8';
//         margin-left: 10px;
//         font-family: 'FontAwesome';
//       }
//     }
//   }
//   > div:nth-child(6) {
//     min-width: 100px;
//   }
//   > div:nth-child(7) {
//     min-width: 146px;
//   }
// }

.listHeader {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-between;

  > div:first-child {
    width: 53px;
  }
  > div:nth-child(2) {
    width: 80px;
  }
  > div:nth-child(3) {
    width: 148px;
  }
  > div:nth-child(4) {
    width: 221px;
  }
  > div:nth-child(5) {
    width: 184px;
    > span {
      &:after {
        content: '\f0d8';
        margin-left: 10px;
        font-family: 'FontAwesome';
      }
    }
  }
  > div:nth-child(6) {
    width: 100px;
  }
  > div:nth-child(7) {
    width: 147px;
  }
  > div:nth-child(8) {
    width: 116px;
  }
}
