// Import
@import "../../styles/variables/variables";

.link {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 1.6rem;
  min-height: 4rem;
  border-left: 0.4rem solid transparent;
  cursor: pointer;
  color: $left-menu-link-color;
  text-decoration: none;
  display: block;

  &:hover {
    background: $left-menu-link-hover;
    border-left: 0.4rem solid $strapi-blue;
  }

  &:hover {
    color: $left-menu-link-color;
    text-decoration: none;
  }
}

.linkActive {
  border-left: 0.4rem solid $strapi-blue;
}

.linkIcon {
  position: relative;
  margin-right: 1.2rem;
  vertical-align: middle;
  font-size: 1.2rem;
  width: 1.2rem;
  padding-bottom: 0.4rem;
  text-align: center;
}

.linkLabel {
  display: inline-block;
  padding-right: 1rem;
}
