.tableEmpty { /* stylelint-disable */
  width: 100%;
  height: 108px;
  background: #ffffff;

  td{
    height: 106px;
    line-height: 106px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #333740;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid #F1F1F2 !important;
  }
}
