// Import
@import "../../styles/variables/variables";

.leftMenuFooter { /* stylelint-disable */
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 3rem;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 255, 255, .02);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  vertical-align: middle;
  color: $strapi-gray-light;

  a {
    color: #0097f7;
  }

  select{
    outline: none;
  }
}
