// Import
@import "../../styles/variables/variables";

.leftMenuFooter { /* stylelint-disable */
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 3rem;
  vertical-align: middle;
  color: $strapi-gray-light;
  border-top: 1px solid $strapi-gray;
  font-size: $font-size-xs;
}
