.containerFluid {
  padding: 18px 30px;
  > div:first-child {
    margin-bottom: 11px;
  }
}

.container {
  padding-top: 18px;
  > div:last-child {
    > div {
      padding-bottom: 0 !important;
    }
  }
}

.main_wrapper{
  background: #ffffff;
  padding: 22px 28px 0px;
  border-radius: 2px;
  box-shadow: 0 2px 4px #E3E9F3;
}

.ctmForm {
  padding-top: 2.6rem;
}

.contentTypesWrapper {
  padding-top: 9px;
  margin-left: -28px;
  margin-right: -28px;
  > div:last-child {
    > div {

      border-bottom: none;
    }
  }
}
