/**
 * Notifications animation
 **/

.notification-enter {
  opacity: 0.01;
  top: -60px;
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transition: all 400ms ease-in;
  top: 0;
}

.notification-exit {
  opacity: 1;
}

.notification-exit.notification-exit-active {
  opacity: 0.01;
  transition: all 400ms ease-in;
}
