// App variables

// - colors
$black: #000000;
$white: #ffffff;

$strapi-gray-light: #EFF3F6;
$strapi-gray: #32394A;

$strapi-blue-darker: #101622;
$strapi-blue-dark: #151C2E;
$strapi-blue: #1C5DE7;
$strapi-blue-light: #7E8AAA;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $strapi-blue-darker;
$left-menu-link-hover: $strapi-blue-dark;
$left-menu-link-color: $strapi-blue-light;
$left-menu-title-color: $strapi-gray;

// -- header
$header-height: 6rem;

// -- content
$content-background: $strapi-gray-light;
// Import bootstrap variables
@import "variables.bootstrap";