.logout {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 19rem;
  -webkit-font-smoothing: antialiased;
  > div {
    height: 6rem;
    width: 100%;
    line-height: 6rem;
    z-index: 999;
    > button {
      width: 100%;
      padding-right: 30px;
      background-color: #FAFAFB !important;
      border: none;
      border-radius: 0;
      color: #333740;
      font-size: 14px;
      font-weight: 500;
      text-align: right;
      text-transform: capitalize;
      cursor: pointer;
      &:hover {
        color: #333740;
      }

      > i {
        margin-left: 10px;
      }
    }
  }
}

.dropDownContent {
  // top: -1px;
  left: auto !important;
  right: -3px !important;
  min-width: 100%!important;
  margin: 0 !important;
  padding: 0px;
  line-height: 1.8rem;
  border: none!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  box-shadow: inset 0 1px 2px 0 rgba(40, 42, 49, 0.16);
  font-size: 14px;

  > button {
    padding: 12px 15px 0 15px;
    &:hover, &:focus, &:active {
      background-color: #FAFAFB!important;
      border-radius: 0px;
      cursor: pointer;
    }
  }

  > button:first-child {
    padding-top: 16px;
    padding-bottom: 5px;
    &:hover, &:active {
      color: #333740;
    }
  }

  > button:not(:first-child) {
    padding-bottom: 16px;
    color: #F75B1D;
    > i {
      margin-left: 10px
    }
  }
}

.item {
  &:active {
    color: black;
  }
  &:hover {
    background-color: #FAFAFB !important;
  }
}
