.modelPage { /* stylelint-disable */
  min-height: calc(100vh - 6rem);
  background: rgba(14,22,34,0.02);
}

.componentsContainer {
  padding: 18px 1.5rem 0 1.5rem;
}

.leftMenuSpan {
  display: block;
  width: calc(100% - 95px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentContainer {
  display: flex;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconPlus {
  > div {
    > i {
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }
}


.linkContainer {
  display: flex;
  margin-left: 2rem;
  margin-right: .5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  min-height: 3.4rem;
  color: #1C8FE5 !important;
  text-decoration: none !important;
  line-height: 1.6rem;
  cursor: pointer;
  > div {
    width: 1.3rem;
    margin-right: 1rem;
  }
}
