.editFormSection { /* stylelint-disable */
  background: #FFFFFF;
  padding-top: 0.1rem;
}

.sectionHeader {
    color: #787E8F;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

.padded {
  padding:  0 15px 0 15px;
}


.subNestedFormContainer {
  margin: -1.8rem 15px 1.8rem 15px;
  padding: 0 2rem;
  background: #FAFAFB;
}

.spacer {
  height: 1.7rem;
}


.nesTedFormContainer {
  padding-top: 0rem;
}

.sectionDescription {
  margin: .1rem 0;
  color: #8B91A0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}
