.editFormSection { /* stylelint-disable */
  background: #FFFFFF;
  padding-top: .3rem;
}

.sectionHeader {
    color: #787E8F;
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
