/* Import */
@import '../../styles/variables/variables';

.rightContentSectionTitle { /* stylelint-disable */
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 2.6rem;
}

.rightContentSectionSubTitle {
  color: $gray-light;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}