name: Admin bundle-size

on:
  pull_request:
    paths:
      - '**/admin/src/**.js'
      - '**/ee/admin/**.js'
      - '**/helper-plugin/src/**.js'
      - '**/translations/**.json'

      # Might be too broad, but it runs the action even if a
      # package.json wasn't changed, e.g. for non-pinned dependencies
      - 'yarn.lock'

jobs:
  admin_size:
    runs-on: ubuntu-latest

    # Allows the action to comment on PRs
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Monorepo install
        uses: ./.github/actions/yarn-nm-install

      - uses: preactjs/compressed-size-action@v2
        with:
          pattern: '**/build/**/*.{js,css,html,svg}'
          strip-hash: "\\.(?:(\\w{8})\\.chunk)|(?:\\.(\\w{8}))"
          minimum-change-threshold: 10

          # FIXME: exclude unnamed webpack chunks - remove once webpack
          # does not create them anymore
          exclude: '{**/build/**/+([0-9]{,4})*,**/node_modules/**}'
