name: 'Publish Prerelease'

on:
  workflow_dispatch:
    inputs:
      dist-tag:
        description: 'The tag you want to publish to NPM'
        default: 'experimental'

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: 'Publish'
    uses: ./.github/workflows/publish-npm.yml
    if: github.repository == 'strapi/strapi'
    with:
      tag: ${{ github.event.inputs.dist-tag }}
      version: '0.0.0-experimental.${{ github.sha }}'
      type: 'prerelease'
