name: CI/CD Pipeline for Strapi

on:
  push:
    branches:
      - main  # Adjust branch as needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: |
          npm install
          npm install strapi@latest -g

      - name: Build Strapi application
        run: npm run build

      - name: Test Strapi application
        run: npm test  #
